.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1002; /* Make sure it overlaps everything */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .cart-button {
    background-color: #443a13;
    color: #f3e2ac;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .cart-button:hover {
    background-color: #574e30;
  }
  